/* @import url('https://fonts.googleapis.com/css2?family=Anta&display=swap'); */

body{
    margin: 0;
    padding: 0;   
    height: 100vh;
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=05050a&c2=051e49&gt=l&gd=dbb
*/
background: #05050A;
background: linear-gradient(0deg, #05050A, #051E49);
}

.container{
    font-family: "Orbitron", sans-serif;
    color: #47cf73;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
    display: flex;
    width: 400px;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 523px;
}

#digital-clock{
    font-family: "Orbitron", sans-serif;
    color: #47cf73;
    font-size: 60px;
    border-radius: 5px;
    background-color: white;
    padding: 24px;
}


  